body {
    font-family: 'Anton', sans-serif;

}

#taa {
    position: fixed;
    background-color:rgb(15, 15, 15, 0.925)
    
}

.btn {
    background-color: rgba(15, 15, 15, 0.651);
    border: none;
    width: 16%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: px;
    min-width: 90px;
    font-family: 'Anton', sans-serif;

    


}

.btn:hover {
    background-color: rgba(86, 228, 51, 0.788);
}


.buttonCenter {
    margin-left: 890px;
    
    
}

.przysobie {
    margin: 5%;
    margin-bottom: 10%;
}


.kkkk {

    margin-right: 50px;

}

.border {
border-top: black;
}


.tak {
position: fixed;

}

.nav {
margin-left: 0%;
   width: 100%; 
}

.dddd {
margin-left: 17%;

}

.pozycja {
    position: fixed;
}

.linia {
    border: black;
    border-style: solid;
    
    width: 24%;
    position: fixed;
}