<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid1">
        <div class="grid1"><img class="borderek" src="./img/3025c526-dd99-491c-cca2-a315be2de797.jpeg" alt=""><p>
             Widok jest zachwycający..</p></div>
        <div class="grid1"><img class="borderek" src="./img/300px-Blacksilt_Shore.jpg" alt=""></div>
        <div class="grid1"><img class="borderek" src="./img/300px-Nahuel_huapi_lake_Argentina.jpg" alt=""></div>
        <div class="grid1"><img class="borderek" src="./img/300px-Nahuel_huapi_lake_Argentina.jpg" alt=""></div>
        <div class="grid1"><img class="borderek" src="./img/300px-Nahuel_huapi_lake_Argentina.jpg" alt=""></div>
        <div class="grid1"><img class="borderek" src="./img/300px-Nahuel_huapi_lake_Argentina.jpg" alt=""></div>
    </div>
</body>
</html>