<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kumbh+Sans&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav  class="kkkk">
        <div class="linia">
        </div>
        <div>
            <div class="pozycja">


                <span><a href=""><button  class="btn" class="dddd">home</button></a></span>
                <span><a href=""><button  class="btn" class="dddd">home</button></a></span>
                <span><a href=""><button  class="btn" class="dddd">home</button></a></span>
                <span><a href=""><button  class="btn" class="dddd">home</button></a></span>
                <span><a href=""><button  class="btn" class="dddd">home</button></a></span>
            </div>
        </div>


    </nav>


    <div class="buttonCenter class=" przysobie">
        <h1>Tytuł</h1>
        <p>
        <h3>Pod tytuł</h3>
        </p>

    </div>


    <div id="taa">


    </div class="przysobie" class="linia" class="tabelka">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi error dignissimos quod! Autem maxime odio deserunt
    porro iure accusamus quas dolorem, tempora omnis molestias fugiat animi quaerat ea quam nam.
    Laboriosam ipsa, enim nisi dignissimos error animi magni voluptates eveniet fuga dolores? At, accusamus non tempore
    in veniam inventore, blanditiis laudantium delectus officia placeat, sequi voluptatum magnam qui est perspiciatis?
    Tenetur atque modi, voluptatibus laudantium labore, ut pariatur optio error quae itaque odio quas minima adipisci
    neque id similique nesciunt vel placeat non provident! Fuga veritatis distinctio possimus velit quas.
    Totam commodi possimus fugit nostrum ratione eum numquam incidunt, blanditiis magni. Libero laborum nam tempora ad
    numquam omnis sunt tenetur nostrum repellendus cumque, esse nobis perferendis culpa, tempore necessitatibus impedit.
    Reprehenderit delectus cum libero quae, deleniti atque totam qui non voluptate accusamus incidunt voluptatem
    suscipit? Eligendi dolores nulla quod voluptates aliquam, nam fugiat neque doloribus eveniet distinctio maxime
    inventore rem!
    Animi quo incidunt reiciendis exercitationem itaque quasi ullam deserunt, minus unde architecto! Laborum atque
    aperiam fuga amet itaque alias, magnam corrupti, maiores esse consectetur vel quos ducimus expedita vitae eum.
    Illo unde inventore quibusdam perferendis eum recusandae ex porro dolores ipsum nobis voluptates dignissimos,
    repellendus quos molestias numquam dolorem iste et neque ipsa ab ad sed aperiam culpa in! Adipisci!
    Quia illum provident placeat quibusdam rerum tenetur a! Exercitationem, animi dolore. Nihil nam recusandae sed
    asperiores blanditiis labore, nisi ab maxime, enim reprehenderit sequi voluptatibus deserunt pariatur quidem, dicta
    id.
    Porro harum eum amet vitae omnis ipsum itaque obcaecati consectetur officia nihil odit sapiente, beatae laboriosam
    possimus consequuntur, fugit nemo hic ut veritatis? Velit tempora provident, asperiores praesentium cumque quod?
    Soluta laudantium quisquam praesentium obcaecati voluptatem ipsam dolorem earum incidunt ex, nemo laborum, dicta
    eaque cum porro temporibus odio pariatur labore illum animi iure. Quaerat totam similique accusantium hic illum!
    Doloribus laborum sed illum sunt ad pariatur asperiores aliquam eius explicabo eligendi quisquam voluptatum neque
    impedit accusantium exercitationem atque ab animi, itaque sint ratione magnam molestias eveniet. Suscipit,
    laboriosam magni?
    Quam distinctio doloremque sequi quisquam consectetur tempora omnis. Odit quaerat deleniti ea. Nisi placeat
    voluptatem officiis magnam eum aut delectus architecto dolorem doloribus. Recusandae ullam nihil qui tenetur iusto
    sunt?
    Illum laboriosam ad quidem nulla deserunt possimus, vero asperiores hic dolorum placeat, debitis dolor incidunt
    earum obcaecati et! Quo id deserunt repellat maxime debitis doloribus, libero aut quod quos mollitia.
    Deleniti consectetur molestias nam repudiandae dolorem sit quos. Assumenda unde sint, quae repellat aut quo! Totam
    quae nostrum porro reiciendis voluptate! Architecto qui voluptatibus eaque similique dolor pariatur voluptas? Cum.
    Aliquam maxime unde amet consequatur? Vero explicabo suscipit quidem ea repellat iste maiores aperiam, nihil
    cupiditate minus neque, quia quam, dolorem magnam rerum eius. Sapiente saepe nisi vel obcaecati! Voluptas!
    Consequatur, vel? Sequi rem omnis ex at vero dignissimos eius accusamus, enim reprehenderit suscipit sapiente
    placeat commodi voluptas maxime cum facilis impedit, ab fugit a quisquam. Quis officiis cum tempora!
    Aut natus optio quia voluptates minima quae, cum quibusdam maxime, harum architecto corporis rem excepturi dicta
    deleniti? Eligendi error, consectetur nesciunt voluptates consequatur exercitationem sapiente! Quis ipsa iste
    perferendis ut.
    Nesciunt quaerat repellendus ratione voluptates aut natus ipsa veritatis? Molestiae, culpa nam ad blanditiis
    pariatur debitis esse inventore minima dolorem quae, maxime accusamus cumque. Omnis ratione ex repellendus
    dignissimos sapiente.
    Minus praesentium pariatur alias suscipit voluptas rerum ex dolorem sint, quo explicabo, quas vero ipsa illo,
    perspiciatis tenetur? Voluptas natus eum inventore fuga fugiat facilis ullam praesentium veritatis commodi
    temporibus.
    Quos molestias asperiores aliquid debitis, explicabo quae repudiandae deserunt architecto perferendis impedit, iusto
    nisi ipsam, nemo odit commodi sed eos inventore iure laudantium nesciunt recusandae porro! Deleniti enim natus
    temporibus.
    Voluptatem expedita totam deleniti voluptate, molestiae consequuntur tempora porro dolor velit deserunt hic,
    pariatur, harum neque cumque nobis dicta quaerat. Voluptate modi soluta quisquam minima ea beatae ipsa tempore
    accusantium.
    Vero quia aliquam iusto voluptatum possimus recusandae magni facilis tempora quibusdam amet natus tenetur itaque aut
    quae illum eaque, laboriosam exercitationem laborum iure incidunt quo! Tenetur cupiditate dolor quae dicta!
    Distinctio consequuntur ipsa qui cum dolorem voluptates soluta. Fuga impedit dolorum temporibus pariatur voluptatum
    ipsam, sed repudiandae nulla ad adipisci eos rem incidunt nostrum quas nisi nam dicta ab amet.
    Placeat molestiae eaque alias velit deleniti id aspernatur, error corrupti provident est reiciendis maxime ipsam
    nulla optio repellat mollitia incidunt sint distinctio repellendus voluptate labore? Voluptatem aperiam est quia
    dicta!
    Earum, perspiciatis excepturi autem asperiores tempora error ex veritatis facere repellat sit, sunt laudantium cum
    eveniet praesentium debitis. A at fuga quaerat doloribus. Ducimus maiores tempore itaque obcaecati sit culpa?
    Sapiente atque qui sit illo aspernatur officiis beatae possimus culpa provident, delectus quos quis, suscipit
    facere. Quibusdam tempora magnam placeat, alias dolor culpa beatae enim non reprehenderit maiores tempore soluta?
    Sit a numquam molestias animi quod accusamus suscipit nobis sed at. Hic recusandae nihil nisi minima! Quis quisquam
    recusandae minima quaerat suscipit earum neque quasi officiis, a minus qui voluptatibus?
    Temporibus labore dolorum dolores architecto! Consectetur, tempora! Modi eum veritatis veniam laudantium vel
    nesciunt maxime quia? Iusto accusantium ut, asperiores nobis voluptatem laudantium deleniti quaerat earum culpa ex
    dolorem. Quam?
    Eligendi non cumque ipsa quae soluta libero nostrum mollitia harum, doloremque maxime sed reiciendis quos cum vitae
    voluptatem quibusdam repellendus ratione quasi pariatur praesentium nesciunt deleniti laborum a. Quibusdam, beatae.
    Magnam assumenda repudiandae unde libero provident, harum quibusdam incidunt hic rerum, eos nisi consectetur eius
    culpa quaerat totam ullam! Maxime incidunt dicta iure distinctio natus deserunt voluptatum optio tenetur minima.
    Sed, quos ipsum laboriosam molestiae adipisci, quisquam, fuga debitis sequi facere soluta mollitia dolore delectus
    eos inventore tempora reprehenderit accusantium odio dolor aliquam cumque in ipsam! Nemo ipsam nesciunt molestias?
    Maxime beatae aspernatur delectus voluptatibus consectetur esse, asperiores culpa eveniet ipsum adipisci eaque quos,
    perspiciatis enim, cum exercitationem. Nemo nostrum similique itaque beatae omnis odit nobis corporis minima cumque
    ipsam!
    Blanditiis, ex. Doloremque nam neque qui aut perferendis impedit aliquid ex quos itaque consequuntur rem obcaecati
    quod veritatis voluptatibus quo assumenda labore inventore, alias expedita modi officiis, est asperiores amet.
    Aut incidunt obcaecati quaerat voluptates, accusantium magnam nisi excepturi. Neque sunt harum iste, odio velit iure
    totam voluptate repellendus, incidunt animi voluptas ut laudantium fugiat laborum dignissimos molestias? Suscipit,
    iusto.
    Voluptatem ab quaerat nulla dolor est, esse perferendis sit, accusamus sint ea maiores rem consequatur blanditiis
    nesciunt odio provident quidem animi inventore nemo illo hic corrupti, ipsum quia voluptates? Reprehenderit!
    Magni delectus ab nostrum. Illum ab, architecto ullam quos aliquam necessitatibus maiores exercitationem totam minus
    consectetur veritatis accusamus, perspiciatis neque, iure earum culpa. Quasi mollitia nihil qui repudiandae adipisci
    aspernatur!
    Architecto consequuntur nisi neque quas odit sequi eligendi est a sed minima, veniam optio repellendus illum, ad
    enim illo, cupiditate commodi laudantium recusandae. At provident molestias aliquid veniam quis culpa?
    Qui a molestias nesciunt quisquam soluta, sunt eum ut ducimus autem inventore voluptatem, optio voluptatum nemo enim
    sed iure cum tempore, maiores omnis quidem officia! Molestiae, necessitatibus. Eum, laboriosam odio!
    Eaque vel earum omnis pariatur, nesciunt corporis temporibus enim corrupti a! Fugit ipsum repellat voluptatem
    soluta, iure harum cupiditate voluptatibus voluptas! Laudantium, beatae eveniet id architecto laborum facere
    inventore magni.
    Odio suscipit mollitia veritatis blanditiis neque aliquid eos nostrum earum impedit? Beatae dolores fuga ea porro
    nostrum deleniti illo ad doloribus nulla aliquam laboriosam, ex deserunt sunt, provident aliquid cumque.
    Non nobis qui, facere blanditiis voluptatum possimus provident repellendus totam eius beatae excepturi numquam
    laudantium fuga architecto quisquam nesciunt officia mollitia, nisi perferendis! Et earum excepturi cupiditate
    recusandae temporibus atque.
    Fuga, voluptas architecto sit optio, aperiam nulla dolore, id hic est maxime suscipit esse quo! Soluta eos nemo ea
    adipisci? Ut dignissimos nulla eius at aperiam laboriosam veniam corporis! Ratione.
    Libero ea aperiam commodi velit quaerat fugiat praesentium itaque, excepturi culpa vel eveniet quam at maxime ipsam
    officia iure magnam, iusto optio. Quis saepe temporibus ipsum, minus impedit quibusdam neque?
    Maxime amet minus voluptatibus esse saepe dolorum numquam ratione odit repellat ad, rerum cupiditate at hic
    quibusdam placeat omnis earum ipsum et, fugit doloremque ullam reiciendis soluta! Aliquam, at nesciunt?
    Laboriosam sunt, eum atque ea est repellat accusamus voluptas similique ratione repellendus repudiandae amet facere
    magnam fugiat veniam reiciendis odit debitis officiis architecto distinctio! Officia fugiat cum sed eaque delectus?
    Iste, maxime dignissimos fuga animi quis dolorem! Omnis, veniam velit maxime soluta suscipit id iusto laboriosam
    beatae ad enim ducimus pariatur sed libero saepe dicta facilis optio nam! Magnam, cupiditate.
    Dolores officia quos dolorem eaque, harum maiores cum unde voluptate mollitia maxime error nobis cumque excepturi
    voluptatibus quam tenetur exercitationem nemo molestias placeat deserunt perferendis. Aperiam impedit porro a
    veritatis?
    Atque ex, obcaecati unde corporis culpa sed sequi est similique sit laboriosam nulla voluptatum vitae sapiente
    aperiam corrupti recusandae fuga! Non ipsa possimus magni similique accusamus. Dolorum enim non nostrum?
    Sunt, voluptas eveniet. Quaerat nesciunt, asperiores deserunt est libero explicabo id aliquam voluptatem ducimus. At
    molestiae voluptas, beatae ut aspernatur quae inventore. Molestias quaerat quo dolores praesentium totam.
    Blanditiis, modi.
    Delectus fuga, fugiat assumenda facere consequatur at! Eveniet, odio? Placeat accusantium ipsa ad rerum eaque
    aspernatur cupiditate doloremque aliquam ducimus consequatur molestias repudiandae vel est, beatae blanditiis
    incidunt accusamus sunt?
    Nulla amet voluptate quisquam molestiae voluptatem est rem totam! Est, nam incidunt dignissimos quaerat doloremque
    fugit quam explicabo nemo! Suscipit voluptatem atque illo nostrum? Ducimus corrupti excepturi repellat obcaecati
    nemo?
    Voluptatem nostrum, debitis soluta unde consequatur, dolore veritatis facilis laudantium commodi animi porro magnam
    suscipit et, quas placeat labore libero sunt molestiae molestias fuga. Corrupti ipsa eaque quae atque quis?
    Veritatis amet similique, quos tenetur ipsa, atque delectus, a nam doloremque ea beatae aspernatur? Itaque harum
    laborum enim labore, laudantium commodi. Tenetur, aperiam nisi aliquam amet nostrum nesciunt voluptas voluptatibus.
    Expedita nemo dicta consequuntur, animi voluptatem, delectus maiores ipsa, quod officia magnam similique. Repellat
    praesentium cupiditate, nam doloremque, est unde quos consequatur tempore aspernatur hic dolores! Nisi harum
    praesentium nulla.
    Eaque dolorum assumenda molestias accusamus explicabo, libero inventore expedita provident eligendi sed? Magnam,
    architecto velit sint error aliquid enim amet odio maiores quidem eos, reiciendis eligendi ducimus beatae, dolores
    iste.
    Quae architecto ad ipsa praesentium neque sit quibusdam nesciunt modi. Necessitatibus quam, consequuntur quod qui
    amet perferendis fuga laboriosam delectus quas, provident pariatur mollitia sunt modi, architecto consequatur.
    Velit, dolorem?
    Saepe quod repellendus, vitae sapiente nulla cum ipsa nam? Alias dignissimos quibusdam harum inventore reiciendis
    qui soluta, cupiditate laborum cumque, omnis laudantium quisquam vero. Error enim aliquid dignissimos veniam ullam.
    Sit assumenda libero nulla iusto, veniam voluptatem obcaecati! Tenetur, eveniet amet! Id totam deleniti vitae
    quisquam illo vel dolorem libero molestias incidunt, distinctio, recusandae eos numquam veniam eius. Animi, numquam!
    Dolorem, fuga blanditiis impedit incidunt, in debitis exercitationem perspiciatis aspernatur optio, obcaecati
    consequatur libero cum. Nemo maxime nulla corrupti quia dignissimos, voluptatem reiciendis voluptatum, omnis hic eos
    dicta ratione nam.
    Nihil odit omnis deserunt beatae recusandae magni, quos fugiat laboriosam minima aut quasi itaque provident
    molestias, odio quibusdam animi quis? Facere in accusantium veritatis vel at cum, voluptates mollitia libero.
    Culpa soluta repellendus nisi quasi, quam saepe. Fugit ratione reiciendis, fuga, distinctio eveniet, quis numquam id
    blanditiis dolores quaerat unde? Sequi illo vero delectus praesentium porro ducimus nostrum aperiam distinctio.
    Perspiciatis expedita facere voluptas dolorum modi qui corporis quas nam, aliquam laborum ratione repellat aliquid
    quibusdam ea illo quaerat facilis nemo voluptatibus maxime ad. Laborum quae velit eius! Animi, architecto?
    Neque, vel! Voluptatibus ipsa consectetur, aut vero illo magnam voluptate, corrupti quidem id, quisquam odio
    numquam? Beatae, recusandae. Quo asperiores nesciunt officiis porro. Architecto harum nostrum repudiandae placeat
    consectetur iusto!
    Praesentium quisquam sunt possimus cum amet. Debitis possimus numquam corporis odio rem omnis nulla aut saepe
    molestias sit! Esse nostrum beatae quod iste laborum excepturi atque! Ad aut quo in.
    Tenetur placeat voluptatem veritatis! Quasi dicta quod, tempore, vel architecto at cumque iste ratione ad dolore
    nihil molestias soluta culpa repellat animi debitis, provident commodi repudiandae perferendis tempora voluptas!
    Iusto!
    Distinctio officia amet a, consequatur recusandae neque dolor dignissimos deserunt consectetur aut, harum quibusdam
    quod, dicta veniam excepturi perspiciatis doloremque at quas asperiores. Libero blanditiis ab laborum explicabo,
    autem excepturi.
    Placeat esse dignissimos a, cupiditate consequuntur optio, aliquam consequatur voluptatem dolores id eos, deserunt
    quasi ipsa neque eaque unde maxime aut veritatis. Vel, ex ab. Quos molestias dolor itaque quaerat.
    Vel iusto at assumenda pariatur quo dicta hic natus officia itaque dolorum, quibusdam repellat commodi doloremque ut
    optio. Id provident quo incidunt veritatis voluptatibus. Blanditiis consequatur quia exercitationem similique at?
    Porro esse, numquam adipisci, aut quaerat est maiores optio veritatis delectus eveniet hic at tempora assumenda?
    Quam ipsa rem, voluptates aliquid quis ex officiis eaque commodi labore est quia quas!
    Tempore consectetur repellat sapiente illum. Velit corporis minima, dolorem totam veniam qui aliquid atque sed
    aperiam autem explicabo. Deserunt labore itaque nobis reprehenderit earum. Nesciunt velit reiciendis suscipit aut
    minus!
</body>

</html>